.time-slot-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  scrollbar-width: none;
  max-width: 100%;
  margin-top: 20px;
  height: 400px;
}

.time-slot {
  width: 240px;
  height: 50px;
  padding: 15px;
  background-color: #f0f0f0;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.time-slot:hover {
  background-color: #a0a0a0;
  transform: scale(1.1);
}
.selected-slot {
  background-color: green;
  transform: scale(1.1);
}
